# RAPID-0 Policy: All firmware is owned by the PM, CE, software
# lead, and any other subteam leads who are considered qualified
# to manage firmware project-wide by the former.

* @Touwfoo @Randall-Scharpf @anniexiang01 @astropancake72 @connorperrone @theancientpoop @AlexanderSHartman
